.home{
    background-color: #1abc9c;
    /* margin-top: 86px;
    min-height: calc(-106px + 100vh); */
    min-height: inherit;
}
img{
    width: 250px;
}
.line{
    background-color: white;
    height: 4px;
    width: 80px;
}